version: "3.9"
services:
  mongo:
    image: mongo:7.0.3
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - ${MONGO_DB_PORT}
    volumes:
      - mongo_db:/data/db
  test_app:
    build:
      context: .
    ports:
      - "8000:8000"
    container_name: testapp
    depends_on:
      - mongo
    entrypoint: >
      sh -c
        " 
          echo Running tests...
          pytest
          echo Starting uvicorn server...
          uvicorn app.main:app --host 0.0.0.0
        "
volumes:
  mongo_db: